
#posts-section > div {
    border: none #dadde0; 
    box-shadow: 2px 2px 2px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
    margin: 0 25% 20px 25%;
}

.test > li {
   display: inline-block;
   margin: 1px; 
}

.btn-link, .btn-link:hover {
    color: #000000;
    font-weight: normal;
}

.like {
    margin: 0;
    padding: 0;
}

.commentBtn, .commentBtn:hover {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: normal; 
    margin-left: 15px;
}

.nav-link {
    font-weight: normal;
    margin: 2px;
}

.userview, .userview > div {
    text-align: center;
    margin: 5px;
}

.title {
    text-align: center;
    margin: 12px;
}

@keyframes animate-post {
    0% {
        opacity: 0;
        height: 0;
        padding: 0px;
        margin: 0 25% 0 25%;
    }

    75%{
        opacity: 1;
        height: 50%;
        padding: 10px;
        margin: 0 25% 20px 25%;
    }

    100% {
        opacity: 1;
        height: 100%;
        padding: 10px;
        margin: 0 25% 20px 25%;
    }
}

.animate {
    position: relative;
    animation-name: animate-post;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.edit, .edit:hover {

    font-weight: normal;
    margin-left: 15px;
    font-size: 14px;
}

/* .comments_toggle {
    background-color: none;
}

.comment_div {
    box-shadow: 2px 2px 2px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
}

.comments_div {
    max-height: 40vh;
    overflow-y: scroll;
}

.comment {
    border-top: solid 1px;
    border-color: #dadde0;
    padding: 5px;
}

#title {
    text-align: center;
}

#post-form {
    border: none #dadde0; 
    box-shadow: 2px 2px 2px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}

.edit {
margin-top: 2px;
}
.userview-link {
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
}

.userview-link-comments {
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 0px;
}

.follow {
    margin: 5px;
}

.userinformation {
    margin: 5px;
}

#pagination {
    border: none #dadde0; 
    box-shadow: 2px 2px 2px 2px #e9ecef; 
    border-radius: 6px;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    color: #0077ffdf;
}


#post-form {
    border: none;
}

